.contributor {
  margin: 250px 0;

  form {
    .form-control {
      margin: 0 auto;
      padding: 8px 11px 8px 24px;
    }
    input {
    }
    .main-btn {
      position: absolute;
      left: unset;
      right: 408px;
      top: 8px;
    }
  }
}
