.contributor {
  margin: 250px 0;
  form {
    .form-control {
      margin: 0 auto;
      padding: 8px 11px 8px 24px;
      width: 549px;
    }
    .main-btn {
      position: absolute;
      left: unset;
      right: 382px;
      top: 8px;
    }
  }
}
