.my-navbar {
  padding-top: 26px;
  .navbar-expand-lg {
    .navbar-nav {
      .nav-link {
        padding: 0 20px;
      }
    }
  }
  .buttons-navbar {
    button {
      margin: 0 auto;
      transition: all 0.5s;
      &:hover {
        color: $orange-color;
      }
    }
    .btn-link {
      font-weight: 600;
      color: rgba(255, 255, 255, 0.78);
      text-decoration: none;
      opacity: 0.78;
      transition: all 0.5s;
      &:hover {
        color: $orange-color;
      }
    }
  }
}
