.popular-tools {
  padding-top: 312px;
  min-height: 1109px;
  &__item {
    width: 372px;
    height: 294px;
    padding: 23px;
    transition: all 0.6s;
    &:hover {
      :after {
      }
      backdrop-filter: blur(25px);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);

      transform: translateY(-50px);
      border-style: solid;
      border-width: 2px;
      border-image: linear-gradient(
          45deg,
          rgba(40, 48, 54, 0.88) 73%,
          rgba(255, 109, 46, 0.25) 100%
        )
        1;

      background-origin: border-box;

      background-image: linear-gradient(
        40deg,
        hsl(206deg 15% 18%) 85%,
        rgba(255, 109, 46, 0.245) 101%
      );

      .popular-tools__item__title {
        color: $header-color;
      }
      .popular-tools__item__subtitle {
        color: $orange-color;
      }
      .popular-tools__item__footer {
        .link-btn {
          background: $orange-color;
          color: #ffffff;
        }
      }
    }

    &__wrapper-titles {
      display: flex;
      justify-content: start;
    }
    &__subheader {
      margin-left: 30px;
    }
    &__title {
      font-size: 24px;
      line-height: 36px;
      color: $header-card-color;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 27px;
      color: $subheader-card-color;
    }
    &__content {
      font-size: 15px;
      line-height: 30px;
      color: $text-color;
      margin: 30px 0;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      width: 326px;
    }
    &__wrapper-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .square {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        &:hover {
          background: #283036;
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          i {
            color: #fd3b41;
          }
        }
      }
      i {
        color: $text-color;
        padding: 10px 20px;
        position: relative;
      }
    }
  }
}
