.promo {
  height: 700px;
  background-color: $main-color;
  position: relative;

  &__body {
    padding: 104px 0 100px 111px;
  }
  &__bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h1 {
    width: 600px;
    color: $header-color;
    font-size: 50px;
    line-height: 140%;
    span {
      color: $orange-color;
    }
  }
  &__text {
    width: 487px;
    color: $text-color;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0 60px 0;
  }
  form {
    position: relative;

    .form-control {
      width: 500px;
      height: 64px;
      background: #283036;
      border-radius: 15px;
      padding: 8px 11px 8px 53px;
      border-color: #837a93;
    }
    .main-btn {
      position: absolute;
      left: 372px;
      top: 8px;
    }

    .icon-search {
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }
  .social {
    display: flex;
    width: 190px;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
  }
}
