.promo {
  min-height: 700px;
  position: relative;
  &__body {
    padding: 110px 0;
  }
  &__bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h1 {
    width: 600px;
    color: $header-color;
    font-size: 50px;
    line-height: 140%;
    span {
      color: $orange-color;
    }
  }
  .social {
    display: flex;
    width: 190px;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
  }
}
